<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict>
		<key>dbName</key>
		<string>db.sqlite</string>
		<key>api_version</key>
		<string>1.0.0</string>
		<key>ossBucket</key>
		<string>voicego</string>
		<key>ossEndpoint</key>
		<string>voiceGo</string>
	</dict>
	<key>Development</key>
	<dict>
		<key>dbName</key>
		<string>db_dev.sqlite</string>
		<key>build_configuration</key>
		<string>development</string>
		<key>base_url</key>
		<string>http://192.168.50.126:1337</string>
	</dict>
	<key>QA</key>
	<dict>
		<key>build_configuration</key>
		<string>qa</string>
		<key>base_url</key>
		<string>http://192.168.50.126:1337</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>build_configuration</key>
		<string>release</string>
		<key>base_url</key>
		<string>http://192.168.50.126:1337</string>
	</dict>
</dict>
</plist>
